In [3]:
import pandas as pd
train = pd.read_csv('train-2.csv')
test = pd.read_csv('test.csv')

In [11]:
train.head()

   id                                        description  category
0   1  A marriage of 13 and 18 year old bourbons. A m...         2
1   2  There have been some legendary Bowmores from t...         1
2   3  This bottling celebrates master distiller Park...         2
3   4  What impresses me most is how this whisky evol...         1
4   9  A caramel-laden fruit bouquet, followed by une...         2

In [12]:
test.head()

     id                                        description
0   955  Think carnival aromas—the good ones, anyway—me...
1  3532  A blend of three bourbons, between 6 and 12 ye...
2  1390  The nose is focused on cereal, hints of fresh ...
3  1024  Swiss-based Chapter 7 released this 19 year ol...
4  1902  Valkyrie replaces the current Dark Origins exp...

In [4]:
#Import Statements
from sklearn.pipeline import Pipeline
from sklearn.datasets import fetch_20newsgroups
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
#create pipeline components
vect = TfidfVectorizer(stop_words='english', ngram_range=(1,2))
rfc = RandomForestClassifier()

In [7]:
#define the pipeline
pipe = Pipeline([('vect', vect), ('clf', rfc)])

#the pipeline fits then transform, fits then predict

In [8]:
# Define the Pipeline
pipe = Pipeline([
                 #Vectorizer
                 ('vect', vect),
                 # Classifier
                 ('clf', rfc)
                ])

# The pipeline puts together a bunch fit then transform,fit then predict.

In [10]:
parameters = {
    'vect__max_df': (0.75, 1.0),
    'clf__max_depth':(5,10,15,20)
}

grid_search = GridSearchCV(pipe,parameters, cv=5, n_jobs=4, verbose=1)
grid_search.fit(train.description, train.category)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  40 out of  40 | elapsed:   53.3s finished
/Users/hotstuff/opt/anaconda3/envs/U4-S1-NLP-DS9/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=Pipeline(memory=None,
     steps=[('vect', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 2), norm='l2', preprocessor=None, smooth_idf=True,
...obs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))]),
       fit_params=None, iid='warn', n_jobs=4,
       param_grid={'vect__max_df': (0.75, 1.0), 'clf__max_depth': (5, 10, 15, 20)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=1)

In [13]:
grid_search.best_score_

0.7072699149265275

In [14]:
pred = grid_search.predict(test.description)

In [16]:
submission = pd.DataFrame({'id': test['id'], 'category':pred})
submission['category'] = submission['category'].astype('int64')

In [17]:
submission.head()

     id  category
0   955         1
1  3532         3
2  1390         1
3  1024         1
4  1902         1

In [18]:
submission.to_csv('submission.csv', index=False)